<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/chat.js"></script>
    <script src="/javascripts/chat-idb-utility.js"></script>
</head>
<script>
    var plantID = "<%= plantID %>";
</script>
<body onload="init()">


    <div class="d-flex justify-content-center align-items-center">
        <button id="connect" type="button" class="btn btn-primary" onclick="connectToRoom()">Lets Chat!!</button>
      </div>
      


<div class="card text-center" id="chat_interface" style="display: none">
    <div class="card-header">
        <div id="who_you_are" style="display: inline"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    <div id="history" class="boxed"></div>
    <div id="input" class="bottom boxed">
<form onsubmit="return false;" style="width: 100%">
    <div class="card-footer text-muted position-relative">
        <div class="d-flex align-items-center">
            <input type="text" id="chat_input" name="chat_input" class="form-control me-2">
        </div>
        <button id="chat_send" type="button" class="btn btn-primary bi bi-chat-dots position-absolute bottom-0 end-0 mb-2" onclick="sendChatText()">Send</button>
    </div>            
</form>

    </div>
</div>
</body>
</html>
