<!DOCTYPE html>
<html lang="en">
<title>Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {font-family: "Lato", sans-serif}
    .Slides {display: none}

    .heading-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50vh;
        text-align: center;
        padding-left: 150px;
    }

    .center-align {
        font-size: 60px;
        line-height: 2.0;
    }

    .image-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 60px;
        margin-top: -370px;
    }

    .image-container img {
        max-width: 100%;
        height: 40vh;
    }

    .image-carousel-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .image-carousel {
        width: calc(50% - 10px);
    }

    .image-carousel img {
        width: 100%;
        height: auto;
    }

</style>

<body>

<!-- Navbar -->
<%- include('navbar.ejs') %>

<!-- HomePage -->
<div class="page" style="max-width:2000px;margin-top:46px">

    <!-- Automatic Slideshow Images -->
    <div class="Slides page-display-container page-center" style="position: relative;">
        <img src="images/img 1.png" style="width:100%">
        <div class="page-display-bottommiddle page-container page-text-white page-padding-32 page-hide-small"
             style="position: absolute; bottom:20%; left: 50%; transform: translateX(-50%); text-align: center;">
            <h1 style="color: white;">Verdant Wonders</h1>
            <p style="color: white;"><b>Where Nature's Beauty Reveals Itself</b></p>
        </div>
    </div>
    <div class="Slides page-display-container page-center" style="position: relative;">
        <img src="images/img 3.jpg" style="width:100%">
        <div class="page-display-bottommiddle page-container page-text-white page-padding-32 page-hide-small"
             style="position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%); text-align: center;">
            <h1 style="color: white;">Verdant Wonders</h1>
            <p style="color: white;"><b>Where Every Leaf Holds a Story</b></p>
        </div>
    </div>
    <div class="Slides page-display-container page-center" style="position: relative;">
        <img src="images/img 2.jpg" style="width:100%">
        <div class="page-display-bottommiddle page-container page-text-white page-padding-32 page-hide-small"
             style="position: absolute; bottom: 20%; left: 50%; transform: translateX(-50%); text-align: center;">
            <h1 style="color: white;">Explore, Discover, and</h1>
            <p style="color: white;"><b>Embrace the Verdant Wonders</b></p>
        </div>
    </div>


    <!-- Second Section -->
    <div class="heading-container">
        <div class="heading">
            <h2 class="center-align">Explore</h2>
            <h2 class="center-align">Exquisite Plant</h2>
            <h2 class="center-align">Collection</h2>
        </div>
    </div>
    <div class="image-container">
        <img src="images/Plant-img.png" alt="photo">
    </div>

    <div class="image-carousel-container">
        <div class="image-carousel">
            <% const images1 = images.slice(0, 3); %>
            <% images1.forEach(image => { %>
                <div class="Slides" style="position: relative;">
                    <img src="<%= image %>" style="width:100%">
                </div>
            <% }) %>
        </div>
        <div class="image-carousel">
            <% const images2 = images.slice(3, 6); %>
            <% images2.forEach(image => { %>
                <div class="Slides" style="position: relative;">
                    <img src="<%= image %>" style="width:100%">
                </div>
            <% }) %>
        </div>
    </div>

</div>

<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("Slides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000);
    }

    // Fetch random images from backend
    fetch('/random-images')
        .then(response => response.json())
        .then(images => {
            const images1 = images.slice(0, 3); // First set of images
            const images2 = images.slice(3, 6); // Second set of images
            // Render images in carousels
            renderImages(images1, '.image-carousel:nth-of-type(1)');
            renderImages(images2, '.image-carousel:nth-of-type(2)');
        })
        .catch(error => console.error(error));

    // Function to render images in the specified carousel
    function renderImages(images, carouselSelector) {
        const carousel = document.querySelector(carouselSelector);
        images.forEach(imageUrl => {
            const slide = document.createElement('div');
            slide.classList.add('Slides');
            slide.style.position = 'relative';
            const img = document.createElement('img');
            img.src = imageUrl;
            img.style.width = '100%';
            slide.appendChild(img);
            carousel.appendChild(slide);
        });
    }

</script>

</body>
</html>