<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Plant Recognition </title>
    <script src="/main.js"></script>
    <style>
        .tagline {
            text-align: center; /* Center the text */
            line-height: 1; /* Ensure each line is spaced evenly */
        }
        .tagline span {
            display: block; /* Display each word on a separate line */
        }

    </style>
</head>

<body>
<!-- Include the navbar -->
<%- include('navbar.ejs') %>
    <div class="tagline">
        <span>Uncover</span>
        <span>Verdant</span>
        <span>Wonders</span>
    </div>


</body>
</html>
