
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00B7FF;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-container .col-md-6 {
  flex: 1;
}

.container.shadow.mt-4 {
  /*max-width: 80%;*/
  padding-right: 10%;
  padding-left: 5%;
  padding-bottom: 3%;
}


.btn-primary {
  background-color: #4caf50;
  border-color: #4caf50;
}

.btn-primary:hover {
  background-color: #388e3c;
  border-color: #388e3c;
}

#map {
  height: 350px;
  width: 650px;
  margin-bottom: 40px;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#imagePreviewCard {
  display: none;
  height: 390px;
  width: 650px;
  /* Initially hide the card */
}

#imagePreviewCard.show {
  display: block;
  /* Show the card when image previewed */
}

#imagePreview {
  max-width: 100%;
  height: 300px;
  width: 100px;
  margin-top: 20px;
}

header {
  background-color: #F0F8FF;
  padding: 20px;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.tag {
  margin-right: 5px;
}

.card-img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.gradient-background {
  background-image: linear-gradient(-225deg, #7085B6 100%, #87A7D9 50%, #DEF3F8 100%);}